services:
  redis:
    image: redis:7.0-alpine
    container_name: redis
    restart: always
    # ... conditions
    ports:
      - "127.0.0.1:6379:6379"
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 30s
      timeout: 5s
      retries: 3
  app:
    build:
      context: .
      dockerfile: Dockerfile.05
    ports:
      - "8080:8080"
    healthcheck:
      test: [ "CMD-SHELL", "/healthcheck" ]
      interval: 30s
      timeout: 5s
      retries: 3